body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 1440px;
  height: 2060px;
}

.nav-head-bar {
  width: 1440px;
  height: 72px;
}

.web-color {
  color: #4d5ae5;
}

/* Contact info */
.main-title .web-color {
  text-decoration: none;
}

.main-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.web-color {
  color: #4d5ae5;
}

.nav-box-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 115px;
  height: 24px;
}

.nav-list {
  list-style-type: none;
}

.nav-button {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list {
  list-style-type: none;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main {
  height: 1988px;
  width: 1440px;
}

/* First section */
.section-one {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 188px 472px 292px 472px;
}

.button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.section-two {
  width: 1440px;
  height: 344px;
}

.section-three {
  width: 1440px;
  height: 732px;
  background: #f4f4fd;
}

.footer {
  width: 1440px;
  height: 312px;
}
